/*=================PRODUCTS STYLE==============*/
.navbar-toggler {
  z-index: 9999999999;
}

#navbarSupportedContent {
  transition: 0.4s ease-in-out all;
}

.main-products-item {
  width: 32% !important;
  min-height: 200px;
  max-height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: inline-block;
  margin: 0 2.5px;
}

.main-products-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s all ease-in-out;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-transform: capitalize;
}

.main-products-order {
  position: absolute;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 0.4s all ease-in-out;
}

.main-products-order button {
  margin-left: 37%;
}

.main-products-item:hover .main-products-order {
  height: 45px;
}

.main-products-item:hover .main-products-title {
  height: 45px;
}

@media (max-width: 700px) {
  .main-products-item {
    width: 49% !important;
  }

  .main-products-order button {
    margin-left: 42%;
  }
}

@media (max-width: 500px) {
  .main-products-item {
    width: 99% !important;
  }

  .main-products-order a {
    margin-left: 36%;
  }
}

/*=================NAVIGATION STYLE============*/
@media (max-width: 960px) {
  .navbar-collapse {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 4%;
    background-color: white;
    z-index: 99999999;
    justify-content: center;
  }

  .navbar-collapse ul {
    margin: 0 40% !important;
  }

  .navbar-collapse ul li {
    padding: 4% 4%;
  }
}

/*=================SIDEBAR STYLE=============*/
.sidebar-menu {
  display: none;
}

.unblock {
  display: block !important;
  z-index: 999;
  width: 100% !important;
  text-align: center;
  transition: 0.4s all ease-in-out !important;
}

/*=================FONT STYLE===============*/
@font-face {
  font-family: Averta;
  src: url(style/fonts/AvertaDemoPECuttedDemo-Regular.otf);
}

div, h1, h2, h3, h4, h5, h6, span, p {
  font-family: Averta, sans-serif;
}

.main-text {
  text-align: center;
  line-height: 35px;
}

.main-text::after {
  content: "";
  width: 60px;
  height: 5px;
  background-color: greenyellow;
}

.InfiniteCarouselArrowIcon {
  border-bottom-color: gray !important;
  border-right-color: gray !important;
}

/*================DASHBOARD STYLE=============*/
.main-news {
  width: 100%;
  position: relative;
  /*background-image:url("style/img/back1.jpg");*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(40%);
}

.main-news::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.main-news-title {
  padding-top: 5%;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 20px;
  color: #cecece;
  z-index: 9999;
}

.main-news-descrp {
  padding-left: 20px;
  font-size: 25px;
  color: #cecece;
}

.main-news-about {
  padding-right: 20px;
  text-align: justify;
  padding-left: 20px;
  font-size: 18px;
  color: #cecece;
  padding-bottom: 45px;;
}

.main-news-data {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: #cecece;
  font-size: 18px;
}

.side-news {
  position: relative;
}

.side-news-title {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.side-news-descrp {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.side-news-about {
  font-size: 0.8rem;
  line-height: 0.8rem;
  height: 50%;
  overflow-x: scroll;
}

.side-news-data {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 0.8rem;
}

/*================HAMBURGER MENU============*/
.stick {
  width: 25px;
  height: 3px;
  display: block;
  margin-top: 5px;
}

/*==================ICON STYLE==============*/
.feature-icon {
  width: 250px;
  height: 250px;
  max-width: 320px;
  display: block;
  mask-size: 80%;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 80%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  margin: 0 auto;
  background-color: transparent;
}

.icon {
  width: 35px;
  height: 35px;
  display: block;
  mask-size: 80%;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 80%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  margin: 0 auto;
  transition: 0.4s all ease-in-out;
  background-color: white;
}

.icon-close{
  width: 35px;
  height: 35px;
  display: block;
  mask-size: 80%;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 80%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  margin: 0 auto;
  transition: 0.4s all ease-in-out;
  background-color: #7a7a7a;
  -webkit-mask-image: url(style/img/close.svg);
  mask-image: url(style/img/close.svg);
}

.icon-logout {
  width: 30px;
  height: 30px;
  background-color: #7a7a7a;
  -webkit-mask-image: url(style/img/login.svg);
  mask-image: url(style/img/login.svg);
}

.icon-settings {
  width: 30px;
  height: 30px;
  background-color: #7a7a7a;
  -webkit-mask-image: url(style/img/settings.svg);
  mask-image: url(style/img/settings.svg);
}

.ant-select-arrow{
  display:none;
}

.icon-cart {
  -webkit-mask-image: url(pages/supermarket.svg);
  mask-image: url(pages/supermarket.svg);
}

.icon-cart:hover {
  background-color: #7bc342;
}

.partner-icon {
  width: 150px;
  height: 150px;
  display: block;
  mask-size: 80%;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: 80%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  margin: 0 auto;
  background-color: gray;
}

.partner-icon-telegram {
  -webkit-mask-image: url(style/img/telegram.svg);
  mask-image: url(style/img/telegram.svg);
}

/*=-=-=-=-=-=-=-=-=LANDING PAGE-=-=-=-=-=-=-=-=-=*/
.landing-back {
  width: 100%;
  height: 92vh;
}

.content-image1 {
  max-width: 250px !important;
  margin-top: 60px;
  margin-left: 282px;
}

.content-image2 {
  max-width: 250px !important;
  margin-top: 180px;
  margin-left: -100px;
  position: absolute;
  box-shadow: black -6px -2px 19px 3px;
  z-index: 123412;
}

.landing-back-half {
  width: 60%;
  height: 80vh;
  position: absolute !important;
  top: 8.5%;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-upper {
  z-index: 12345;
}

/*==============Landing Page Feature Style==============*/
.features {
  margin-top: 75px;
  overflow: hidden;
}

.feature {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: grey;
}

/*=====================REGISTER PAGE=====================*/
.register {
  margin-top: 30px;
}

.register span {
  margin: 0 27%;
  font-size: 0.85rem;
}

.register span a {
  text-decoration: none;
  color: #6dcf58;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}

.register span a:hover {
  color: #45893e;
}

/*-=-=-=-=-=--=-=-=-=-=ICONS SOCIALS-=-=-=-=-=-=-=-=-=-=-*/
.parent-social-hover {
  position: relative;
  margin-top: -105px;
}

.socials {
  width: 6%;
  height: 180px;
  position: absolute;
  top: 35%;
  left: -4.4%;
  z-index: 99888;
  transition: all 0.4s ease-out;
}

.social-hover {
  width: 180px;
  transform: rotate(-90deg);
  position: absolute;
  left: -14%;
  text-align: center;
  color: dimgrey;
  font-weight: bold;
  font-size: large;
}

.social-hover:hover {
  cursor: pointer;
}

.socials:hover {
  left: 0 !important;
}

.social {
  display: block;
  width: 60px;
  height: 60px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: 80%;
  webkit-mask-position: center center;
  webkit-mask-size: 80%;
  webkit-mask-repeat: no-repeat;
  background-color: #89d243;
}

.social:hover {
  background-color: dodgerblue;
}

.social-telegram {
  mask-image: url("style/img/telegram.svg");
  webkit-mask-image: url("style/img/telegram.svg");
}

.social-instagram {
  mask-image: url("style/img/instagram.svg");
  webkit-mask-image: url("style/img/instagram.svg");
}

.social-gmail {
  mask-image: url("style/img/gmail.svg");
  webkit-mask-image: url("style/img/gmail.svg");
}

/*=====================RESPONSIVE STYLE <500==================*/
@media (max-width: 499px) {
  .main-text {
    font-size: 1.4rem;
  }

  .feature-icon {
    width: 170px;
    height: 170px;
    max-width: 220px;
    margin: 0 !important;
  }

  .feature-text {
    font-size: 1.4rem;
    margin-right: 14px !important;
  }

  .partner-icon {
    width: 100px;
    height: 100px;
  }
}

/*=======================LOADER=======================*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section.wrapper {
  transition: all 0.4s ease-in-out;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: block;
  z-index: 99999999999999;
  background-color: white;
  padding: 20% 0;
  animation: display;
  -webkit-animation: display;
  -moz-animation: display;
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

section.wrapper.dark {
  background: #313134;
}

div.spinner {
  -moz-animation: rotate linear;
  -webkit-animation: rotate linear;
  animation: rotate linear;
  -moz-animation-duration: 1.7s;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -moz-animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  position: relative;
  display: block;
  margin: auto;
  width: 142px;
  height: 142px;
}

div.spinner i {
  -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -moz-transform-origin: 50% 100% 0;
  -webkit-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  border: solid 6px transparent;
  border-bottom: none;
}

div.spinner i:nth-child(1) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  width: 44px;
  height: 22px;
  margin-top: -22px;
  margin-left: -22px;
  border-color: #336933;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}

div.spinner i:nth-child(2) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  width: 58px;
  height: 29px;
  margin-top: -29px;
  margin-left: -29px;
  border-color: #397d39;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}

div.spinner i:nth-child(3) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  width: 72px;
  height: 36px;
  margin-top: -36px;
  margin-left: -36px;
  border-color: #528c3c;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
}

div.spinner i:nth-child(4) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  width: 86px;
  height: 43px;
  margin-top: -43px;
  margin-left: -43px;
  border-color: #569b3f;
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
}

div.spinner i:nth-child(5) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  width: 100px;
  height: 50px;
  margin-top: -50px;
  margin-left: -50px;
  border-color: #67af42;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

div.spinner i:nth-child(6) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  width: 114px;
  height: 57px;
  margin-top: -57px;
  margin-left: -57px;
  border-color: #6fb944;
  border-top-left-radius: 66px;
  border-top-right-radius: 66px;
}

div.spinner i:nth-child(7) {
  -moz-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  width: 128px;
  height: 64px;
  margin-top: -64px;
  margin-left: -64px;
  border-color: #7ec844;
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
}

div.spinner i:nth-child(8) {
  -moz-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  animation-timing-function: cubic-bezier(0.09, 2.4, 0.96, 0.03);
  width: 142px;
  height: 71px;
  margin-top: -71px;
  margin-left: -71px;
  border-color: #8dd744;
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
}

@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes display {
  to {
    display: none;
  }
}

@-webkit-keyframes display {
  to {
    display: none;
  }
}

@keyframes display {
  to {
    display: none;
  }
}

/*=======MULTILANGUAGE======*/
.options{
  background-color:white;
  z-index:9999999999999;
}
.ant-select-dropdown-menu-item{
  border-radius:50%;
  width:40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: transparent;
  z-index:9999999999999;
}

#2ae7371c-73cb-4c7b-989f-1e8af31d04f6{
  z-index:9999999999999;
}

.ant-select-dropdown-menu-item:first-child{
  background-image: url("style/img/usa.png");
}
.ant-select-dropdown-menu-item:nth-child(2){
  background-image: url("style/img/rus.png");
}
.ant-select-dropdown-menu-item:last-child{
  background-image: url("style/img/uzb.svg");
}

.ant-select-dropdown-menu{
  list-style: none;
  margin-left: -29px;
}
